---
layout: layouts/base
styles:
- /styles/eleventy-patterns/index
scripts:
- /scripts/eleventy-patterns/index
- /scripts/eleventy-patterns/navigation
---
<div class="EP_layout">
  <div class="EP_header-container EP_js-header-container">
    <header class="EP_header">
      <h2>
        <a href="/" class="EP_nav__logo">
          Eleventy Patterns
        </a>
      </h2>
      <button class="EP_nav__menu-toggle EP_js-nav__menu-toggle EP_button" aria-expanded="false">Menu</button>
    </header>
    <nav class="EP_nav">
      <ul class="EP_nav__menu EP_js-nav__menu">
        <li class="EP_nav__category">
          <button class="EP_nav__submenu-toggle EP_js-nav__submenu-toggle" aria-expanded="false">
              Prototypes
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="EP_toggle-icon" aria-hidden="true" focusable="false">
              <path d="M2.36,3.82,10,11.46l7.64-7.64L20,6.18l-10,10L0,6.18Z"/>
            </svg>
          </button>
          <ul class="EP_nav__submenu">
            <li>
              <a href="/prototypes" class="EP_nav__link">
                Prototypes Overview
              </a>
            </li>
            {{#each (sortCollection collections.prototypes)}}
              {{#unless data.hide}}
                <li>
                  <a href="{{url url}}" class="EP_nav__link">
                    {{data.title}}
                  </a>
                </li>
              {{/unless}}
            {{/each}}
          </ul>
        </li>
        <li class="EP_nav__category">
          <button class="EP_nav__submenu-toggle EP_js-nav__submenu-toggle" aria-expanded="false" role="button">
            Patterns
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="EP_toggle-icon" aria-hidden="true" focusable="false">
              <path d="M2.36,3.82,10,11.46l7.64-7.64L20,6.18l-10,10L0,6.18Z"/>
            </svg>
          </button>
          <ul class="EP_nav__submenu">
            <li>
              <a href="/patterns" class="EP_nav__link">
                Patterns Overview
              </a>
            </li>
            {{#each (sortCollection collections.patterns)}}
              {{#unless data.hide}}
                <li>
                  <a href="{{url url}}" class="EP_nav__link">
                    {{data.title}}
                  </a>
                </li>
              {{/unless}}
            {{/each}}
          </ul>
        </li>
      </ul>
      <ul class="EP_nav__menu-large">
        <li>
          <a href="/prototypes" class="EP_nav__link-primary">
            Prototypes
          </a>
        </li>
        <li>
          <a href="/patterns" class="EP_nav__link-primary">
            Patterns
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <main class="EP_layout__main">
    {{{ content }}}
  </main>
</div>
