---
layout: layouts/base
styles:
- /styles/eleventy-patterns/index
scripts:
- /scripts/eleventy-scripts/eleventy
---
<div class="EP_layout">
  <nav class="EP_nav">
    <div class="EP_nav__logo">
      <h2>
        <a href="/">
          Eleventy Patterns
        </a>
      </h2>
    </div>

    <button class="EP_nav__menu-toggle">Menu</button>

    <ul class="EP_nav__menu">
      <li class="EP_nav__category">
        <div class="EP_nav__submenu-toggle">
          <h3>
            Prototypes
          </h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 12.35" class="toggle-icon">
            <path d="M17.65,0,10,7.63,2.35,0,0,2.35l10,10,10-10Z"/>
          </svg>
        </div>
        <ul class="EP_u_stagger-items EP_nav__submenu">
          <li class="EP_nav__link">
            <a href="/prototypes">
              Prototypes Overview
            </a>
          </li>
          {{#each (sortCollection collections.prototypes)}}
            {{#unless data.hide}}
              <li class="EP_nav__link">
                <a href="{{url url}}">
                  {{data.title}}
                </a>
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </li>
      <li class="EP_nav__category">
        <div class="EP_nav__submenu-toggle">
          <h3>
            Patterns
          </h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 12.35" class="toggle-icon">
            <path d="M17.65,0,10,7.63,2.35,0,0,2.35l10,10,10-10Z"/>
          </svg>
        </div>
        <ul class="EP_u_stagger-items EP_nav__submenu">
          <li class="EP_nav__link">
            <a href="/patterns">
              Patterns Overview
            </a>
          </li>
          {{#each (sortCollection collections.patterns)}}
            {{#unless data.hide}}
              <li class="EP_nav__link">
                <a href="{{url url}}">
                  {{data.title}}
                </a>
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </li>
    </ul>
    <ul class="EP_nav__menu-large">
      <li class="EP_nav__link">
        <h3>
          <a href="/prototypes">
            Prototypes
          </a>
        </h3>
      </li>
      <li class="EP_nav__link">
        <h3>
          <a href="/patterns">
            Patterns
          </a>
        </h3>
      </li>
    </ul>
  </nav>

  <main class="EP_layout__content">
    {{{ content }}}
  </main>
</div>
