---
layout: base
styles: 
- /styles/pattern-library
---
<div class="📚layout">
  <aside class="📚side-nav">
    <nav>
      <div class="📚side-nav__section">
        <h3 class="📚side-nav__heading">
          <a href="/patterns">
            Patterns
          </a>
        </h3>

        {{#each collections.patterns}}
          <a href="{{url url}}" class="📚side-nav__link">
            {{data.title}}
          </a>
        {{/each}}
      </div>

      <div class="📚side-nav__section">
        <h3 class="📚side-nav__heading">
          <a href="/prototypes">
            Prototypes
          </a>
        </h3>

        {{#each collections.prototypes}}
          <a href="{{url url}}" class="📚side-nav__link">
            {{data.title}}
          </a>
        {{/each}}
      </div>
    </nav>
  </aside>

  <main class="📚content">
  {{{ content }}}
  </main>
</div>