---
layout: base
styles: 
- /styles/pattern-library
---
<div class="S_layout">
  <aside class="S_side-nav">
    <nav>
      <div class="S_side-nav__section">
        <h3 class="S_side-nav__heading">
          <a href="/patterns">
            Patterns
          </a>
        </h3>

        {{#each collections.patterns}}
          <a href="{{url url}}" class="S_side-nav__link">
            {{data.title}}
          </a>
        {{/each}}
      </div>

      <div class="S_side-nav__section">
        <h3 class="S_side-nav__heading">
          <a href="/prototypes">
            Prototypes
          </a>
        </h3>

        {{#each collections.prototypes}}
          <a href="{{url url}}" class="S_side-nav__link">
            {{data.title}}
          </a>
        {{/each}}
      </div>
    </nav>
  </aside>

  <main class="S_content">
    {{{ content }}}
  </main>
</div>