<h2>{{data.title}}</h2>

{{{markdown data.notes}}}

<figure class="EP_pattern">
  <div class="EP_pattern__example">
    {{#if data.iFrameExample}}
      <iframe src="{{this.url}}" class="EP_pattern__iframe"></iframe>
    {{else}}
      {{{ templateContent }}}
    {{/if}}
  </div>
  <pre class="EP_pattern__code"><code>
    {{~{syntaxHighlight (pretty this.templateContent) 'html'}~}}
  </code></pre>
</figure>
