<li class="EP_card">
  <span class="EP_card__graphic EP_preview">
    <iframe class="EP_preview__iframe" src="{{url url}}"></iframe>
  </span>
  
  <div class="EP_card__content EP_u_stagger-items">
    <h2>
      <a class="EP_card__primary-action" href="{{url url}}">
        {{data.title}}
      </a>
    </h2>

    {{#if data.labels}}
      <div>
        {{#each data.labels}}
          <span class="EP_label EP_label--{{this}}">
            {{this}}
          </span>
        {{/each}}
      </div>
    {{/if}}

    {{#if data.notes}}
      {{{markdown data.notes}}}
    {{/if}}
  </div>
</li>